<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BioSA App</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Vue JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.js"></script>
</head>
<body>
<!-- begin entire container -->
<div class="" id="app">
    <!--<div class="begin-search" v-show="!reRender">-->
    <div class="begin-search">

        <h1>Bio Sequence Analysis</h1>
        <div class="btn-group select-collection">
            <!-- Select dropdown button -->
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" :disabled="disableSelect === true"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{selectButtonMsg}}
            </button>

            <!-- Dropwdown menu options -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" v-for="collection in collections" v-on:click="getCultures">{{collection}}</a>
            </div>
        </div>
        <div class="loader" v-show="loading == true">
            <img src="/public/loader.gif">
        </div>
    </div> <!-- end of begin-search -->

    <!-- ENTIRE TABLE CONTAINER -->
    <div class="entire-table" v-show="loading == false" >
        <div class="home-page-table" v-show="showHomeTable">
            <!--generate Coculture Table-->
            <div class="gen-table" v-show="ccGens.length !== 0">
                <table id="gen-cc-table" class="table table-bordered header-fixed" v-show="!reRender">
                    <thead>
                    <tr>
                        <th v-for="header in ccHeaders">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="cc in ccGens">
                        <th scope="row">{{cc.culture}}</th>
                        <td v-for="gen in cc.generations" >
                            <div v-bind:class="'square gen-' + gen" v-if="gen!='compare'" v-on:click="generateCCTable(); reactToButtons()" ></div>
                            <div v-bind:class="'square gen-' + gen" v-if="gen=='compare'" v-on:click="generateCompareTable(); reactToButtons()" >web</div>
                            <div v-bind:class="'square gen-' + gen" v-if="gen=='compare'" v-on:click="generateCompareGraph(); reactToButtons();" >graph</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--generate Mono table-->
            <div class="gen-table" v-show="mcGens.length !== 0">
                <table id="gen-mc-table" class="table table-bordered header-fixed" v-show="!reRender">
                    <thead>
                    <tr>
                        <th v-for="header in mcHeaders">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="mc in mcGens">
                        <th scope="row">{{mc.culture}}</th>
                        <td v-for="gen in mc.generations">
                            <div v-bind:class="'square gen-' + gen" v-on:click="generateMCTable(); reactToButtons()"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="home-page-table" v-show="!showHomeTable">

            <!--generate cc predicted mutation table-->
            <div class="gen-table" >
                <table id="gen-ccm-table" class="table table-bordered header-fixed" v-show="reRenderCCM">
                    <thead>
                    <tr>
                        <!--get headers for predicted mutation table-->
                        <th v-for="header in mutation_headers" >{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--fill the predicted mutation table-->
                    <tr v-for="index in cc_predicted_mutations.length">
                        <td>{{ cc_predicted_mutations[index-1].evidence_type }}</td>
                        <td>{{ cc_predicted_mutations[index-1].seq_id }}</td>
                        <td>{{ cc_predicted_mutations[index-1].position }}</td>
                        <td>{{ cc_predicted_mutations[index-1].mutation_field }}</td>
                        <td>{{ cc_predicted_mutations[index-1].freq }}</td>
                        <td>{{ cc_predicted_mutations[index-1].annotation }}</td>
                        <td>{{ cc_predicted_mutations[index-1].gene }}</td>
                        <td>{{ cc_predicted_mutations[index-1].description }}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <!--generate mc predicted mutation table-->
            <div class="gen-table" >
                <table id="gen-mcm-table" class="table table-bordered header-fixed" v-show="reRenderMCM">
                    <thead>
                    <tr>
                        <!--print headers for predicted mutation table-->
                        <th v-for="header in mutation_headers">{{header}}</th>
                    </tr>
                    </thead>

                    <tbody>
                    <!--fill the predicted mutation table-->
                    <tr v-for="index in mc_predicted_mutations.length">
                        <td>{{ mc_predicted_mutations[index-1].evidence_type }}</td>
                        <td>{{ mc_predicted_mutations[index-1].seq_id }}</td>
                        <td>{{ mc_predicted_mutations[index-1].position }}</td>
                        <td>{{ mc_predicted_mutations[index-1].mutation_field }}</td>
                        <td>{{ mc_predicted_mutations[index-1].freq }}</td>
                        <td>{{ mc_predicted_mutations[index-1].annotation }}</td>
                        <td>{{ mc_predicted_mutations[index-1].gene }}</td>
                        <td>{{ mc_predicted_mutations[index-1].description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--generate compare table-->
            <div class="gen-table" >
                <table id="gen-compare-table" class="table table-bordered header-fixed" v-show="reRenderCompareWeb">
                    <thead>
                    <tr>
                        <!--get headers for compare table-->
                        <th v-for="header in compare_headers">{{header}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--fill the compare table-->
                    <tr v-for="index in cc_compare_generation.length">
                        <td>{{ cc_compare_generation[index-1].seq_id }}</td>
                        <td>{{ cc_compare_generation[index-1].position }}</td>
                        <td>{{ cc_compare_generation[index-1].mutation }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_0 }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_100 }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_300 }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_500 }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_780 }}</td>
                        <td>{{ cc_compare_generation[index-1].freq_1000 }}</td>
                        <td>{{ cc_compare_generation[index-1].annotation }}</td>
                        <td>{{ cc_compare_generation[index-1].gene }}</td>
                        <td>{{ cc_compare_generation[index-1].description }}</td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <!--generate compare graph-->
            <div class="gen-table" >
                <div id="compareGraph" v-show="reRenderCompareGraph"></div>
                <div class="input-group mb-3" v-show="reRenderCompareGraph">
                    <div class="input-group-prepend">
                        <label class="radio-inline">
                            <input type="checkbox"
                                   id="selectAll"
                                   v-on:change="e => selectAllSelect(e)"
                                   v-model="graph_seq_id['All']"
                                   checked="checked">Select All
                            </input>
                        </label>
                        <button type="submit" class="btn btn-primary btn-sm" id="graphCompare" v-on:click="graphCompare()">Graph</button>

                            <td class="checkbox-group-table">
                                <table id="checkbox-group-table" class="table table-bordered header-fixed" >
                                    <thead>
                                    <tr>
                                        <th v-for="header in checkbox_group_header">{{header}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(gene_map, seq_id) in graph_seq_id"
                                        v-if="seq_id !== 'All'">
                                        <td>
                                            <label>
                                                <input type="checkbox"
                                                       class="seqidSelect"
                                                       v-model="gene_map['seqId_state']"
                                                       v-bind:id="seq_id"
                                                       v-on:change="e => seqIdSelect(e, gene_map)">{{seq_id}}
                                                </input>
                                            </label>

                                        </td>
                                        <td>
                                            <table id="inner-table"
                                                   class="table table-bordered header-fixed" >
                                                <thead>
                                                <tr>
                                                    <th v-for="inner_header in inner_checkbox_group_header">{{inner_header}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="(positions, gene) in gene_map"
                                                    v-if="gene !== 'seqId_state'">
                                                    <td>
                                                        <label>
                                                            <input type="checkbox"
                                                                   class="geneSelect"
                                                                   v-model="positions['gene_state']"
                                                                   v-bind:id="gene"
                                                                   v-on:change="e => geneSelect(e, positions)">{{gene}}

                                                            </input>
                                                        </label>
                                                    </td>
                                                        <label>
                                                            <td v-for="(value, position) in positions"
                                                                v-if="position !== 'gene_state'">
                                                                <input type="checkbox"
                                                                       v-model="positions[position]"
                                                                       class="position-select">{{position}}

                                                                </input>
                                                            </td>
                                                        </label>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>

                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end of entire-table -->

    <div class="footer">
        <hr>
        <p>2018 by Conard Faraon, Lisa Kim, Sheng Lin, Wai Shum, Hoi Wu </p>
    </div>
</div> <!-- end of entire container -->


<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>

<!-- our scripts -->
<script src="/public/app.js"></script>
<!-- end of script tags -->
</body>
</html>

