<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>OCEA Web App</title>
</head>
<body>


<div class="container" id="gen-table">
    <table  class="table table-bordered">
        <thead>
        <tr>
            <th v-for="header in headers">{{header}}</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">HA3</th>
            <td><div class="square gen-0"></div></td>
            <td><div class="square gen-100"></div></td>
            <td><div class="square gen-300"></div></td>
            <td><div class="square gen-500"></div></td>
            <td><div class="square gen-780"></div></td>
            <td><div class="square gen-1000"></div></td>
            <td><div class="square gen-compare"></div></td>
        </tr>

        <tr v-for="value, key in dict">
            <th scope="row">{{key}}</th>
            <td v-for="gen in value">{{gen}}</td>
        </tr>


        <!--<tr>-->
            <!--<th scope="row">2</th>-->
            <!--<td id="mongo"></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th scope="row">3</th>-->
            <!--<td></td>-->
            <!--<td></td>-->
            <!--<td></td>-->
        <!--</tr>-->
        </tbody>
    </table>
    <p v-for="value, key in dict">{{ key }} {{value}}</p>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="scripts/app.js"></script>
</body>
</html>