<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <title>OCEA Web App</title>
</head>
<body>


<div class="container">
    <table id="gen-table" class="table table-bordered">
        <thead>
        <tr>
            <th v-for="header in headers">{{header}}</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th scope="row">HA3</th>
            <td><div class="square gen-0"></div></td>
            <td><div class="square gen-100"></div></td>
            <td><div class="square gen-300"></div></td>
            <td><div class="square gen-500"></div></td>
            <td><div class="square gen-780"></div></td>
            <td><div class="square gen-1000"></div></td>
            <td><div class="square gen-compare"></div></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../scripts/app.js"></script>
</body>
</html>